.encountersList-div1 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin: auto;
}
.encountersList-div2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #000000;
    /* margin: auto; */
    margin-top: 1rem;
    color: white;
    padding: 3px;
    word-wrap: break-word;
    border-radius: 10px;
}

.encountersList-div2 span {
    margin: 3px;
}

.encountersList-input {
    margin: 1rem;
}

.encountersList-input input {
    width: auto;
    height: auto;
    margin-right: 3px;
}

.encountersList-clear {
    height: auto;
}

.encountersList-clear:hover {
    cursor: pointer;
    color: #00aaa9;
}

.encountersListViewButton {
    margin: 3px auto;
    width: 40px;
}

.encountersListViewButton:hover{
    cursor: pointer;
    color: #00aaa9;
}

@media screen and (min-width: 768px) {
    .encountersList-div1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 50px;
    }
    .encountersList-div2 {
        flex-basis: 300px
    }
}
