#monsterCreation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monsterCreation-div1{
  text-align: center;
}

.backToLanding-monsterCreationForm {
  margin-bottom: 10px;
}